<% pageTitle = "Finish setting up your account - Get a document legalised – GOV.UK" %>
<% include ../partials/header.ejs %>

<h1 class="heading-xlarge">Finish setting up your account</h1>

<% if (error.length > 0) { %>
<div class="error-summary" style="width: 60%">
    <h1 class="heading-medium error-summary-heading"><%= error %></h1>
</div>
<%}%>
<div class="column-two-thirds">
    <p>We need a few more details to set your account up</p>
    <form action="/api/user/complete-registration" id="complete-registration-form" method="post">

        <div class="error-summary <% if (error_report) { %>show<% } else { %>hide<% } %>" role="group" aria-labelledby="error-summary-heading-example-2" tabindex="-1">

            <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
                Please check the form
            </h2>

            <div id="all-errors">
                <ul class="error-summary-list nopadding">
                    <% if (error_report) {  %>
                    <% error_report[0][0].errMsgs.forEach( function(errorMsgs) { %>
                    <li><a href="#legend_<%= errorMsgs.questionId %>"><%= errorMsgs.fieldSolution %></a></li>
                    <% }) %>
                    <% } %>
                </ul>
            </div>
        </div>

        <div class="form-group <% if (error_report && error_report[1][0].erroneousFields.indexOf('first_name')>-1) { %>error<% } %>">

            <label for="first-name" class="form-label-bold">First name</label>
            <fieldset>
                <legend id="legend_first_name" class="<% if (error_report && error_report[1][0].erroneousFields.indexOf('first_name')>-1) { %>show<% } else { %>hide<% } %>">

                    <% if (error_report) { %>
                    <% error_report[0][0].errMsgs.forEach( function(error) { %>
                    <% if (error.questionId=="first_name") { %>
                    <span class="error-message">
                       <%= error.fieldSolution %>
                    </span>
                    <% } %>
                    <% }) %>
                    <% } %>


                </legend>
                <input class="form-control" id="first-name" aria-required="true" type="text" autocomplete="off" name="first_name" value="<% if(form_values){%><%=form_values.first_name%><%} %>">
            </fieldset>
        </div>
        <div class="form-group <% if (error_report && error_report[1][0].erroneousFields.indexOf('last_name')>-1) { %>error<% } %>">
            <label for="last-name"  class="form-label-bold">Last name</label>
            <fieldset>
                <legend id="legend_last_name" class="<% if (error_report && error_report[1][0].erroneousFields.indexOf('last_name')>-1) { %>show<% } else { %>hide<% } %>">
                    <% if (error_report) { %>
                    <% error_report[0][0].errMsgs.forEach( function(error) { %>
                    <% if (error.questionId=="last_name") { %>
                    <span class="error-message">
                       <%= error.fieldSolution %>
                    </span>
                    <% } %>
                    <% }) %>
                    <% } %>
                </legend>
                <input class="form-control" id="last-name" autocomplete="off" type="text" aria-required="true" name="last_name" value="<% if(form_values){%><%=form_values.last_name%><%} %>">
            </fieldset>
        </div>
        <div class="form-group <% if (error_report && error_report[1][0].erroneousFields.indexOf('telephone')>-1) { %>error<% } %>">
            <label for="phone" class="form-label-bold">Telephone number</label>
            <fieldset>
                <legend id="legend_telephone" class="<% if (error_report && error_report[1][0].erroneousFields.indexOf('telephone')>-1) { %>show<% } else { %>hide<% } %>">
                    <% if (error_report) { %>
                    <% error_report[0][0].errMsgs.forEach( function(error) { %>
                    <% if (error.questionId=="telephone") { %>
                    <span class="error-message">
                       <%= error.fieldSolution %>
                    </span>
                    <% } %>
                    <% }) %>
                    <% } %>
                </legend>
                <input type="tel" id="phone" class="form-control phone" autocomplete="off" aria-required="true" name="telephone" value="<% if(form_values){%><%=form_values.telephone%><%} %>">
            </fieldset>
        </div>
        <div class="form-group <% if (error_report && error_report[1][0].erroneousFields.indexOf('mobileNo')>-1) { %>error<% } %>">
            <label for="phone" class="form-label-bold">Mobile number</label>
            <fieldset>
                <legend id="legend_telephone" class="<% if (error_report && error_report[1][0].erroneousFields.indexOf('mobileNo')>-1) { %>show<% } else { %>hide<% } %>">
                    <% if (error_report) { %>
                    <% error_report[0][0].errMsgs.forEach( function(error) { %>
                    <% if (error.questionId=="mobileNo") { %>
                    <span class="error-message">
                       <%= error.fieldSolution %>
                    </span>
                    <% } %>
                    <% }) %>
                    <% } %>
                </legend>
                <input type="tel" id="mobileNo" class="form-control phone" autocomplete="off"  name="mobileNo" value="<% if(form_values && form_values.mobileNo!=null){%><%=form_values.mobileNo%><%} %>">
            </fieldset>
        </div>

        <div class="form-group <% if (error_report && error_report[1][0].erroneousFields.indexOf('feedback_consent')>-1) { %>error<% } %>" >
            <h2 class="form-label-bold">Feedback</h2>

            <span>We welcome your views on the legalisation service. If you agree to be contacted by answering "Yes" below, you will be consenting to share your personal data - name, email address, telephone number and service received - with our independent partner research agency, IFF Research. You may withdraw your consent at any stage by emailing <a href="mailto:consular.research@fcdo.gov.uk" >consular.research@fcdo.gov.uk<span class="visually-hidden"> opens in new window</span></a>. For more details on how your data will be handled in relation to feedback see the <a href="https://www.gov.uk/government/organisations/foreign-commonwealth-office/about/research" target="_blank">research privacy policy<span class="visually-hidden"> opens in new window</span></a>.<br>
            <br>
                <p>Can our partner contact you for feedback to help improve this service?</p></span>
            <fieldset class="inline" aria-required="true" role="radiogroup">
                <legend id="legend_feedback_consent" class="<% if (error_report && error_report[1][0].erroneousFields.indexOf('feedback_consent')>-1) { %>show<% } else { %>hide<% } %>">
                    <% if (error_report) { %>
                    <% error_report[0][0].errMsgs.forEach( function(error) { %>
                    <% if (error.questionId=="feedback_consent") { %>
                    <span class="error-message">

                       <%= error.fieldSolution %>
                    </span>
                    <% } %>
                    <% }) %>
                    <% } %>
                </legend>

                <fieldset class="inline">
                    <legend class="visually-hidden"></legend>
                    <label class="block-label <%if(typeof(feedback_consent)!='undefined' && feedback_consent){%>selected <%}%>" for="radio-feedback-yes" >
                        <input id="radio-feedback-yes" type="radio"  name="feedback_consent" value=true <%if(typeof(feedback_consent)!='undefined' && feedback_consent){%>checked <%}%>>
                        Yes
                    </label>
                    <label class="block-label <%if(typeof(feedback_consent)!='undefined' && !feedback_consent){%>selected <%}%>" for="radio-feedback-no">
                        <input id="radio-feedback-no"  type="radio" name="feedback_consent" value=false <%if(typeof(feedback_consent)!='undefined' && !feedback_consent){%>checked <%}%>>
                        No
                    </label>
                </fieldset>
            </fieldset>
        </div>


        <button class="button" type="submit">Continue</button>

    </form>

</div>

<% include ../partials/footer.ejs %>
