<% var title='Register'; %>
<% pageTitle = "Create an account - Get a document legalised – GOV.UK" %>
<% include partials/header %>

<%if(back_link){%><a href="<%= back_link%>" class="back-to-previous">Back</a><%}%>

<div class="col-sm-6 col-sm-offset-3">
    <h1 class="heading-xlarge">Create an account</h1>

    <div class="column-two-thirds">
        <!-- show any messages that come back with authentication -->
        <div style=" margin-top: 0px; " class="error-summary  <% if (error) { %>show<% } else { %>hide<% } %>" role="group" aria-labelledby="error-summary-heading"
             tabindex="-1">

            <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
                Please check the form

            </h2>

            <ul class="error-summary-list nopadding">
                <%if (error) { %>
                <%error.forEach(function(err){%>
                <% if (err.email) { %>
                <li><a href="#legend_email"><%= err.email %></a></li>
                <% } %>
                <% if (err.confirm_email) { %>
                <li><a href="#legend_confirm_email"><%= err.confirm_email %></a></li>
                <% } %>
                <% if (err.password) { %>
                <li><a href="#legend_password"><%= err.password %></a></li>
                <% } %>
                <% if (err.confirm_password) { %>
                <li><a href="#legend_confirm_password"><%= err.confirm_password %></a></li>
                <% } %>
                <% if (err.business) { %>
                <li><a href="#legend_business"><%= err.business %></a></li>
                <% } %>
                <% if (err.company_name) { %>
                <li><a href="#business-info"><%= err.company_name %></a></li>
                <% } %>
                <% if (err.company_verification_check) { %>
                <li><a href="#business-info"><%= err.company_verification_check %></a></li>
                <% } %>
                <% if (err.agree) { %>
                <li><a href="#legend_agree_terms"><%= err.agree %></a></li>
                <% } %>
                <% if (err.user_exists) { %>
                <li class="error-no-link"><%= err.user_exists %></li>
                <% } %>
                <% }) %>
                <%}%>
            </ul>

        </div>




        <div class="help-content-div">
            <a href="#" class="help-content-link icon-toggle-right expandable">Benefits of creating an account<span class="visually-hidden noJs" > click to expand </span></a>
            <div class="panel panel-border-narrow  help-content-body no-js-show">
                <p>Online accounts are required for our premium business service. For the standard postal service they're
                    optional. You'll get most benefit if you're a regular customer.</p>
                <p>With an online account you can:</p>
                <ul class="tick-list">
                    <li><i aria-hidden="true" class="flaticon-checked21 no-margin"></i>make applications more quickly by saving your details
                        eg addresses, payment details</li>
                    <li><i aria-hidden="true" class="flaticon-checked21 no-margin"></i>check the status of an application</li>
                    <li><i aria-hidden="true" class="flaticon-checked21 no-margin"></i>see your recent application history</li>
                </ul>
            </div>
        </div>


        <!-- REGISTER FORM -->
        <form action="/api/user/register" method="post" id="register-form">
            <div class="form-group <% if ((erroneousFields && erroneousFields[0].email == true)) { %>error<% } %>" id="legend_email">
                <label for="email" class="form-label-bold">Email</label>
                <fieldset>
                    <legend class="<% if (erroneousFields && erroneousFields[0].email == true) { %>show<% } else { %>hide<% } %>">
                            <span class="error-message">
                                Enter your email
                            </span>
                    </legend>

                    <input class="form-control" id="email" name="email" autocomplete="off" aria-required="true" type="text" value="<% if (form_values && form_values.email!=='') { %><%=form_values.email%><% } %>">
                    <div id="email_hint" style="display: none;"></div>
                </fieldset>
            </div>

            <div class="form-group <% if (erroneousFields && (erroneousFields[0].email == true || erroneousFields[0].confirm_email == true)) { %>error<% } %>" id="legend_confirm_email">
                <label for="confirm_email" class="form-label-bold">Confirm email</label>
                <legend class="<% if (erroneousFields && (erroneousFields[0].email == true || erroneousFields[0].confirm_email == true)) { %>show<% } else { %>hide<% } %>">
                            <span class="error-message">
                                Confirm your email
                            </span>
                </legend>

                <input class="form-control" id="confirm_email" name="confirm_email" autocomplete="off" type="text" value="<%if (!erroneousFields || (erroneousFields && !erroneousFields[0].confirm_email&& !erroneousFields[0].email )){%><%=form_values.email%><%}%>">
            </div>

            <div class="form-group <% if (erroneousFields && erroneousFields[0].password == true && JSON.stringify(error).indexOf('password') > -1) { %>error<% } %>" id="legend_password">
                <label for="password" class="form-label-bold">Password</label>

                    <span class="form-hint">Minimum 8 characters long with at least 1 capital letter and 1 number</span>
                <fieldset>
                    <legend class="<% if (erroneousFields && erroneousFields[0].password == true) { %>show<% } else { %>hide<% } %>">
                            <span class="error-message">
                                <%if (error) { %>
                                <%error.forEach(function(err){%>
                                <% if (err.password) { %>
                                <%= err.password %>
                                <% } %>
                                <% }) %>
                                <%}%>
                            </span>
                    </legend>
                </fieldset>

                    <input class="form-control" id="password" autocomplete="off" aria-required="true" name="password" type="password">

            </div>

            <div class="form-group <% if (erroneousFields && (erroneousFields[0].password == true || erroneousFields[0].confirm_password == true) && JSON.stringify(error).indexOf('confirm_password') > -1)  { %>error<% } %>"
                 id="legend_confirm_password">
                <label for="confirm_password" class="form-label-bold">Confirm password</label>
                <fieldset>
                    <legend class="<% if (erroneousFields && (erroneousFields[0].password == true || erroneousFields[0].confirm_password == true) && JSON.stringify(error).indexOf('confirm_password') > -1) { %>show<% } else { %>hide<% } %>">
                            <span class="error-message">
                                <%if (error) { %>
                                <%error.forEach(function(err){%>
                                <% if (err.confirm_password) { %>
                                <%= err.confirm_password %>
                                <% } %>
                                <% }) %>
                                <%}%>
                            </span>
                    </legend>


                    <input class="form-control" id="confirm_password" autocomplete="off" aria-required="true" name="confirm_password" type="password">
                </fieldset>
            </div>


            <div class="form-group <% if (erroneousFields && erroneousFields[0].business_yes_no) { %>error<% } %>">
                <fieldset class="inline">
                    <legend id="legend_business" class="form-label-bold">Are you registering on behalf of a business?</legend>

                    <span class="form-hint">Businesses can access our premium service</span>

                    <div class="" id="business-question">

                        <fieldset class="inline" aria-required="true" role="radiogroup">
                            <legend class="<% if (erroneousFields && erroneousFields[0].business_yes_no) { %>show<% } else { %>hide<% } %>">
                                    <span class="error-message">
                                        Confirm whether you are registering on behalf of a business
                                    </span>
                            </legend>

                            <label class="block-label <% if (form_values && form_values.business_yes_no=='Yes'){%>selected<%}%>" data-target="business-info"
                                   for="radio-indent-1">
                                <input id="radio-indent-1" type="radio" name="business_yes_no" value="Yes" <% if (form_values && form_values.business_yes_no=='Yes'
                                ){%>checked
                                        <%}%>> Yes
                            </label>

                            <label class="block-label <% if (form_values && form_values.business_yes_no=='No'){%>selected<%}%>" for="radio-indent-2">
                                <input id="radio-indent-2" type="radio" name="business_yes_no" value="No" <% if (form_values && form_values.business_yes_no=='No'
                                ){%>checked
                                        <%}%>> No
                            </label>
                        </fieldset>
                        <div class="panel panel-border-narrow  <% if (erroneousFields && erroneousFields[0].company_name) { %>error<%}%> <% if (form_values && form_values.business_yes_no=='Yes'){%><%}else{%>js-hidden<%}%>"
                             id="business-info">

                            <label class="form-label-bold" for="company_name">Company name</label>
                            <fieldset>
                                <legend id="legend_company_name" class="<% if (erroneousFields && erroneousFields[0].company_name) { %>show<% } else { %>hide<% } %>">
                                    <span class="error-message">
                                        Please enter a valid company name
                                    </span>
                                </legend>

                                <input class="form-control" name="company_name" type="text" id="company_name" value="<% if (form_values && form_values.company_name!=='') { %><%=form_values.company_name%><% } %>">
                            </fieldset>
                            <br />
                            <label class="form-label-bold" for="company_verification_check">Company verification</label>
                            <span class="form-hint">The premium service is a counter service for businesses only. The Legalisation Office may ask for evidence to verify your details eg company letter, VAT number, Companies House number</span>
                            <fieldset>
                                <legend id="legend_company_verification_check" class="<% if (erroneousFields && erroneousFields[0].company_verification_check) { %>show<% } else { %>hide<% } %>">
                                    <span class="error-message">
                                        Confirm that you represent a business
                                    </span>
                                </legend>
                                <label class="block-label" for="company_verification_check">
                                    <input type="checkbox" name="company_verification_check" id="company_verification_check"<% if (form_values && form_values.company_verification_check &&
                                            form_values.company_verification_check===true) { %>checked
                                            <% } %>>I confirm that I represent a business and will provide evidence when asked
                                </label>
                            </fieldset>

                        </div>
                    </div>

                </fieldset>

            </div>

            <div class="form-group <% if (erroneousFields && erroneousFields[0].all_info_correct) { %>error<% } %>" id="legend_agree_terms">
                <p>By continuing you confirm that:</p>

                <ul>
                    <li>the information you've given is correct</li>
                    <li>you agree to the <a href="<%= applicationServiceURL %>terms-and-conditions">terms and conditions and privacy policy</a></li>
                </ul>
                <fieldset class="inline" aria-required="true" role="radiogroup">
                    <legend class="<% if (erroneousFields && erroneousFields[0].all_info_correct) { %>show<% } else { %>hide<% } %>">
                            <span class="error-message">
                        Agree to the terms and conditions
                    </span>
                    </legend>

                    <label class="block-label" for="all_info_correct">
                        <input type="hidden" name="all_info_correct" id="all_info_correct_hidden" value="-1">
                        <input type="checkbox" name="all_info_correct" id="all_info_correct" <% if (form_values && form_values.all_info_correct &&
                                form_values.all_info_correct===true) { %>checked
                                <% } %>> I agree
                    </label>
                </fieldset>
            </div>

            <button type="submit" class="button">Create an account</button>

        </form>

        <hr>

        <p>Already got an account? <a href="/api/user/sign-in?from=/api/user/register">Sign in</a></p>
    </div>

</div>
<% include partials/footer %>