<% pageTitle = "Sign in - Get a document legalised – GOV.UK" %>
<%if(error && error.length>0){
    pageTitle = "Error: Sign in - Get a document legalised – GOV.UK"
} %>
<% var hide_back_link = true%>
<% include partials/header %>
<% if (info.length > 0) { %>
<%if(info.toString().substring(0,21)=="If an account matches"){
    hide_back_link = true;
}
}%>

<%if(!signed_out && !hide_back_link){%>
<a href="<%= back_link%>" class="back-to-previous">Back</a>
<%}%>
<h1 class="heading-xlarge">Sign in</h1>

<div class="column-two-thirds">
    <script>var _paq = _paq || [];</script>
    <% if (error.length > 0) { %>
    <%if(error[0]=='Activation reset token is invalid.  Sign in to send a new one.'){ %>
    <script>
        //Event category: Reg 04 - verify email address
        _paq.push(['trackEvent', 'Reg 04 - verify email address', 'Verification link expired']);
    </script>
    <%}%>
    <div class="govuk-error-summary" role="alert" autofocus>

        <h2 class="govuk-error-summary__title">There is a problem</h2>

        <ul class="govuk-list govuk-error-summary__list">
            <%if(error=='Missing email and password' || error=='Missing email'){var email_error=true;%><li><a href="#email">Enter your email</a></li><%}%>
            <%if(error=='Missing email and password' || error=='Missing password'){var password_error=true; %><li><a href="#password">Enter your password</a></li><%}%>
            <%if(error!='Missing email and password' && error!='Missing email' && error!='Missing password'){ %><li><a href="#email"><%= error%></a></li><%}%>

        </ul>
    </div>
    <% } %>

    <% if (info.length > 0) { %>
    <%if(info.toString().substring(0,21)=="If an account matches"){%>
    <script>
        //Event category: Account 09 - forgot password submission
        _paq.push(['trackEvent', 'Account 09 - forgot password submission', 'submitted forgot password form']);
    </script>
    <%}%>
    <%if(info.toString().indexOf("You've successfully confirmed your email address")!=-1){%>
    <script>
        _paq.push(['trackEvent', 'Reg 04 - verify email address', 'Email verified successfully']);
    </script>
    <%}%>
    <div class="alert alert--success" role="alert"><p class="alert__message"><%= info %></p></div>
    <% } %>


    <!-- LOGIN FORM -->
    <form action="/api/user/sign-in" method="post" id="sign-in">
        <input type="hidden" name="next" value="<%= qs.next %>" />
        <div class="form-group <%if(email_error){%>error<%}%>">
            <label for="email" class="form-label-bold">Email</label>
            <%if(error=='Missing email and password' || error=='Missing email'){%><span class="error-message">Enter your email</span><%}%>
            <input class="govuk-input govuk-!-width-one-half" id="email" name="email" aria-required="true" autocomplete="off" type="text"  <% if(typeof(email) !='undefined'){%>value = "<%= email%>"<%}%>>
        </div>

        <div class="form-group <%if(password_error){%>error<%}%>">
            <label for="password" class="form-label-bold">Password</label>
            <%if(error=='Missing email and password' || error=='Missing password'){%><span class="error-message">Enter your password</span><%}%>
            <input class="govuk-input govuk-!-width-one-half" id="password" name="password" aria-required="true" autocomplete="off"  type="password" >
        </div>


        <input type="submit" class="govuk-button" id="sign-in-button" value="Sign in">
        <p><a class="govuk-link" href="/api/user/forgot">Forgotten your password?</a></p>


    </form>
</div>
    <hr>
<!--    <p><a href="/api/user/register?from=/api/user/sign-in">Create an account</a></p>-->


<% include partials/footer %>
