<% pageTitle ="Add a return address - Get a document legalised – GOV.UK" %>
<%if(error_report && error_report.length>0){
    pageTitle = "Error: Add a return address - Get a document legalised – GOV.UK"
} %>

<%include ../partials/header.ejs %>

<a href="/api/user/add-address" class="back_to_previous_button">Back</a>
<%if(error_report.length>0){%><br>
<%}%>
    <%if (error_report && error_report.length>0) {%>
    <div class="govuk-error-summary column-two-thirds" role="group" aria-labelledby="error-summary-heading-example-2" tabindex="-1" autofocus >


        <h2 class="govuk-error-summary__title"  id="error-summary-heading-example-2">
            <%if (typeof error_heading !== 'undefined' && error_heading !== ''){%>
            <%= error_heading %>
            <%}else{%>
            There is a problem
            <%}%>
        </h2>
        <ul class="govuk-list govuk-error-summary__list">
            <%if (typeof error_heading !== 'undefined' && error_heading !== ''){%>
            <li><a href="/api/user/your-address-manual"><%= error_report%></a></li>
            <%}else{%>
            <li><a><%= error_report%></a></li>
            <%}%>
        </ul>
    </div>
    <%}%>
    <div class="govuk-error-summary hide" id="postcode-error" role="group" tabindex="-1" autofocus></div>
<h1 class="heading-xlarge">Add a return address</h1>

    <div id="sr-notification-container" class="visually-hidden"  aria-live="assertive" aria-atomic="true"></div>
<div class="column-two-thirds">
    <div class="form-group column-two-third">
        <form id="find-address-form"  method="post" action="<%= '/api/user/find-your-address'%>">
            <label class="form-label-bold"  for="find-postcode">Enter postcode</label>
            <% if(typeof(error_report)!='undefined'){%><span class="error-message"><%= error_report%></span><%}%>

            <input class="form-control form-control-1-4 postcode"  aria-required="true" id="find-postcode" type="text"
                   name="find-postcode">
            <button class="button find-address button-secondary" type="submit" id="find-address">Find UK address</button>




            <a class="link address-manual" id="address-manual" href="<%= '/api/user/your-address-manual' %>" >Enter address manually</a>
        </form>
    </div>
</div>
<form id="select-address-form" class="column-two-thirds"  method="post" action="<%= '/api/user/select-your-address'%>">
    <input type="hidden" name="full_name" value="<%if(account.full_name != null){%><%= account.full_name %><%}%>">
    <input type="hidden" name="postcode" value="">
    <div class="hide" id="address-list-group">
        <label class="form-label visuallyhidden" for="address-list-box">Pick an address</label>
        <select class="form-control" id="address-list-box" name="address" form="select-address-form" aria-required="true"
                onchange="">
            <option disabled selected>Pick an address</option>
        </select>
    </div>
    <div class="js-hidden hide">
        <button class="button find-address button-secondary" type="submit" id="select-address">Select Address</button>
    </div>

</form>


<div id="uk-address-form" class="address-form hide column-two-thirds">

    <form id="address_form" method="post" action="/api/user/save-address">
        <div class="form-group" id="address-details-group">

            <div class="form-group " id="legend_full_name">
                <label class="form-label-bold" for="full-name">Full name</label>
                <span class="form-hint">Name of the person you would like the documents returned to</span>
                <input class="form-control" id="full-name" type="text" aria-required="true" name="full_name" value="">

            </div>
            <div class="form-group" id="legend_organisation">
                <label class="form-label-bold" for="organisation">Company or organisation (optional)</label>
                <legend class="visuallyhidden">Company or organisation</legend>

                <input class="form-control" id="organisation" type="text" name="organisation" aria-required="false" value="" >
            </div>

            <div class="form-group" id="legend_house_name">
                <label class="form-label-bold" for="house_name">House name or number</label>


                <input class="form-control" id="house_name" type="text" aria-required="true" name="house_name" value="" >
            </div>

            <div class="form-group" id="legend_street">
                <label class="form-label-bold" for="street">Street</label>


                <input class="form-control" type="text" id="street" aria-required="true" name="street" value="" >
            </div>

            <div class="form-group" id="legend_town">
                <label class="form-label-bold" for="town">Town</label>

                <input class="form-control" type="text" id="town" aria-required="true" name="town" value="" >
            </div>

            <div class="form-group" id="legend_county">
                <label class="form-label-bold" for="county">County <span>(optional)</span></label>


                <input class="form-control" type="text" id="county" name="county" value="">
            </div>

            <div class="form-group" id="legend_postcode">
                <label class="form-label-bold" for="postcode">Postcode</label>

                <input class="form-control form-control-1-4 postcode" id="postcode" aria-required="true" name="postcode" type="text" value="" >
            </div>

            <div class="form-group" id="legend_telephone">
                <label class="form-label-bold" for="telephone">Primary number</label>
                <span class="form-hint">Contact telephone number for this address for delivery questions or updates</span>

                <input class="form-control" type="tel" id="telephone" aria-required="true" name="telephone" value="<% if (contact_telephone) { %><%= contact_telephone %><% } %>">
            </div>

            <div class="form-group" id="legend_telephone">
                    <label class="form-label-bold" for="telephone">Mobile number</label>
                    <span class="form-hint">Contact mobile number for this address for delivery questions or updates</span>

                <input class="form-control" type="tel" id="mobileNo" aria-required="true" name="mobileNo" value="<% if (contact_mobileNo) { %><%= contact_mobileNo %><% } %>">
            </div>

            <div class="form-group" id="legend_email">
                <label class="form-label-bold" for="email">Email address <span>(optional)</span></label>
                <span class="form-hint">Contact email for this address for delivery questions or updates</span>


                <input class="form-control" type="text" id="email" name="email" value="<% if (contact_email) { %><%= contact_email %><% } %>">
            </div>

            <input type="hidden" name="country" value="United Kingdom">
            <input type="hidden" name="manual" value=false>
            <input type="hidden" name="initial" value=<%if(initial){%><%= initial%><%}%>>
        </div>

        <div class="form-group">
            <button id="NextBtn" class="govuk-button">Continue</button>
        </div>


    </form>
</div>


<% include ../partials/footer.ejs %>
