<%var primaryAddressErrors = [];
if (error_report) {
    if (error_report[0][0].errMsgs) {
        error_report[0][0].errMsgs.forEach(
                function(error){
                    if (error.fieldName == "full_name") {
                        primaryAddressErrors.push(error);
                    }
                    if (error.fieldName == "postcode") {
                        primaryAddressErrors.push(error);
                    }
                    if (error.fieldName == "house_name") {
                        primaryAddressErrors.push(error);
                    }
                    if (error.fieldName == "street") {
                        primaryAddressErrors.push(error);
                    }
                    if (error.fieldName == "town") {
                        primaryAddressErrors.push(error);
                    }
                    if (error.fieldName == "county") {
                        primaryAddressErrors.push(error);
                    }

                }
        )
    }

}
%>
<% pageTitle ="Add a return address - Get a document legalised – GOV.UK" %>
<%include ../partials/header.ejs %>



<a href="/api/user/add-address-uk" class="back_to_previous_button">Back</a>


<h1 class="heading-xlarge">Add a return address</h1>

<div class="error-summary <% if (error_report) { %>show<% } else { %>hide<% } %>" role="group" aria-labelledby="error-summary-heading" tabindex="-1" style="clear:left;">

    <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
        Please check the form

    </h2>

    <div id="all-errors">
           <ul class="error-summary-list nopadding">
            <% if (error_report) {  %>
            <% error_report[0][0].errMsgs.forEach( function(errorMsgs) { %>
            <li><a href="#legend_<%= errorMsgs.questionId %>"><%= errorMsgs.fieldSolution %></a></li>
            <% }) %>
            <% } %>
        </ul>
    </div>
</div>

<form id="address_form" class="column-two-thirds" method="post" action="/api/user/save-address">
    <div class="form-group address-form " id="address-details-group">

        <div class="form-group  <% if (error_report && error_report[1][0].erroneousFields.indexOf('full_name')>-1) { %>error<% } %>" id="legend_full_name">

            <label class="form-label-bold" for="full-name">Full name</label>
            <span class="form-hint">Name of the person you would like the documents returned to</span>
            <fieldset>
                <legend
                        class="<% if (error_report && error_report[1][0].erroneousFields.indexOf('full_name')>-1) { %>show<% } else { %>hide<% } %>">
                    <span class="error-message">
                        <% if (error_report && primaryAddressErrors.length>0) { %>
                        <% primaryAddressErrors.forEach( function(errorItem) { %>
                        <% if (errorItem.questionId == "full_name") { %>
                        <%= errorItem.fieldError %>
                        <% } %>
                        <% }) %>
                        <% } %>
                    </span>
                </legend>

                <input class="form-control" id="full-name" type="text" aria-required="true" name="full_name" value="<%if (form_values) { %><%= form_values.full_name %><%}else{%><%= account.first_name+' '+account.last_name%><%}%>">
            </fieldset>
        </div>
        <div class="form-group  <% if (error_report && error_report[1][0].erroneousFields.indexOf('organisation')>-1) { %>error<% } %>" id="legend_organisation">
            <label class="form-label-bold" for="organisation">Company or organisation (optional)</label>
            <legend
                    class="<% if (error_report && error_report[1][0].erroneousFields.indexOf('organisation')>-1) { %>show<% } else { %>hide<% } %>">
                    <span class="error-message">
                        <% if (error_report && primaryAddressErrors.length>0) { %>
                        <% primaryAddressErrors.forEach( function(errorItem) { %>
                        <% if (errorItem.questionId == "organisation") { %>
                        <%= errorItem.fieldSolution %>
                        <% } %>
                        <% }) %>
                        <% } %>
                    </span>
            </legend>

            <input class="form-control" id="organisation" type="text" name="organisation" aria-required="true" value="<%if(form_values[0]){%><%= form_values[0].organisation%><%} else if (form_values) { %><%= form_values.organisation %><% } %>" >
        </div>

        <div class="form-group  <% if (error_report && error_report[1][0].erroneousFields.indexOf('house_name')>-1) { %>error<% } %>" id="legend_house_name">
            <label class="form-label-bold" for="house_name">House name or number</label>
            <fieldset>
                <legend class="<% if (error_report && error_report[1][0].erroneousFields.indexOf('house_name')>-1) { %>show<% } else { %>hide<% } %>">
                    <span class="error-message">
                        <% if (error_report && primaryAddressErrors.length>0) { %>
                        <% primaryAddressErrors.forEach( function(errorItem) { %>
                        <% if (errorItem.questionId == "house_name") { %>
                        <%= errorItem.fieldError %>
                        <% } %>
                        <% }) %>
                        <% } %>
                    </span>
                </legend>
                <input class="form-control" id="house_name" type="text" aria-required="true" name="house_name" value="<%if(form_values && form_values.house_name && form_values.house_name != 'N/A') { %><%= form_values.house_name %><% } %>" >
            </fieldset>
        </div>

        <div class="form-group  <% if (error_report && error_report[1][0].erroneousFields.indexOf('street')>-1) { %>error<% } %>" id="legend_street">
            <label class="form-label-bold" for="street">Street</label>
            <fieldset>
                <legend
                        class="<% if (error_report && error_report[1][0].erroneousFields.indexOf('street')>-1) { %>show<% } else { %>hide<% } %>">
                    <span class="error-message">
                        <% if (error_report && primaryAddressErrors.length>0) { %>
                        <% primaryAddressErrors.forEach( function(errorItem) { %>
                        <% if (errorItem.questionId == "street") { %>
                        <%= errorItem.fieldError %>
                        <% } %>
                        <% }) %>
                        <% } %>
                    </span>
                </legend>

                <input class="form-control" type="text" id="street" aria-required="true" name="street" value="<%if(form_values[0]){%><%= form_values[0].street%><%} else if (form_values) { %><%= form_values.street %><% } %>" >
            </fieldset>
        </div>

        <div class="form-group  <% if (error_report && error_report[1][0].erroneousFields.indexOf('town')>-1) { %>error<% } %>" id="legend_town">
            <label class="form-label-bold" for="town">Town</label>
            <fieldset>
                <legend
                        class="<% if (error_report && error_report[1][0].erroneousFields.indexOf('town')>-1) { %>show<% } else { %>hide<% } %>">
                    <span class="error-message">
                        <% if (error_report && primaryAddressErrors.length>0) { %>
                        <% primaryAddressErrors.forEach( function(errorItem) { %>
                        <% if (errorItem.questionId == "town") { %>
                        <%= errorItem.fieldError %>
                        <% } %>
                        <% }) %>
                        <% } %>
                    </span>
                </legend>
                <input class="form-control" type="text" id="town" aria-required="true" name="town" value="<%if(form_values[0]){%><%= form_values[0].town%><%} else if (form_values) { %><%= form_values.town %><% } %>" >
            </fieldset>
        </div>

        <div class="form-group  <% if (error_report && error_report[1][0].erroneousFields.indexOf('county')>-1) { %>error<% } %>" id="legend_county">
            <label class="form-label-bold" for="county">County <span>(optional)</span></label>
            <fieldset>
                <legend
                        class="<% if (error_report && error_report[1][0].erroneousFields.indexOf('county')>-1) { %>show<% } else { %>hide<% } %>">
                    <span class="error-message">
                        <% if (error_report && primaryAddressErrors.length>0) { %>
                        <% primaryAddressErrors.forEach( function(errorItem) { %>
                        <% if (errorItem.questionId == "county") { %>
                        <%= errorItem.fieldError %>
                        <% } %>
                        <% }) %>
                        <% } %>
                    </span>
                </legend>

                <input class="form-control" type="text" id="county" aria-required="true" name="county" value="<%if(form_values[0]){%><%= form_values[0].county%><%} else if (form_values) { %><%= form_values.county %><% } %>">
            </fieldset>
        </div>

        <div class="form-group  <% if (error_report && error_report[1][0].erroneousFields.indexOf('postcode')>-1) { %>error<% } %>" id="legend_postcode">
            <label class="form-label-bold" for="postcode">Postcode</label>
            <fieldset>
                <legend
                        class="<% if (error_report && error_report[1][0].erroneousFields.indexOf('postcode')>-1) { %>show<% } else { %>hide<% } %>">

                    <span class="error-message">
                        <% if (error_report && primaryAddressErrors.length>0) { %>
                        <% primaryAddressErrors.forEach( function(errorItem) { %>
                        <% if (errorItem.questionId == "postcode") { %>
                        <%= errorItem.fieldError %>
                        <% } %>
                        <% }) %>
                        <% } %>
                    </span>
                </legend>

                <input class="form-control form-control-1-4 postcode" id="postcode" aria-required="true" name="postcode" type="text" value="<%if(form_values[0]){%><%= form_values[0].postcode%><%} else if (form_values) { %><%= form_values.postcode %><% } %>" >
            </fieldset>
        </div>

        <input type="hidden" name="country" value="United Kingdom">
        <input type="hidden" name="manual" value=true>
        <input type="hidden" name="initial" value=<%if(initial){%><%= initial%><%}%>>
    </div>

    <div class="form-group">
        <button id="NextBtn" class="button">Continue</button>
    </div>


</form>



<% include ../partials/footer.ejs %>