<% pageTitle = "Your account - Get a document legalised – GOV.UK" %>

<% include ../partials/header.ejs %>

<% include ../partials/inner-header.ejs %>
<div class="column-two-thirds">
    <h1 class="heading-xlarge" style="margin-bottom: 25px">Personal details</h1>
    <% if (info.length > 0) { %>
    <div class="alert alert--success" role="alert"><p class="alert__message"><%= info %></p></div>
    <% } %>

    <div class="form-group" style="margin-bottom: 0px;">
        <table class="review-personal-details summary-table">
            <tbody>
            <tr>
                <td class="summary-table-cell-label">First name</td>
                <td class="summary-table-cell-content"><%= account.first_name%></td>
                <td class="summary-table-cell-link"><a class="govuk-link" href="/api/user/change-details">Change<span class="visually-hidden"> first name</span></a></td>
            </tr>
            <tr>
                <td class="summary-table-cell-label">Last name</td>
                <td class="summary-table-cell-content"><%= account.last_name%></td>
                <td class="summary-table-cell-link"><a class="govuk-link" href="/api/user/change-details">Change<span class="visually-hidden"> last name</span></a></td>
            </tr>
            <tr>
                <td class="summary-table-cell-label">Telephone</td>
                <td class="summary-table-cell-content"><%= account.telephone%></td>
                <td class="summary-table-cell-link"><a class="govuk-link" href="/api/user/change-details">Change<span class="visually-hidden"> telephone number</span></a></td>
            </tr>
            <tr>
                <td class="summary-table-cell-label">Mobile No</td>
                <td class="summary-table-cell-content">
                    <% if(account.mobileNo != null){ %>
                    <%= account.mobileNo %>
                    <% }else{ %>
                    None provided
                    <% } %></td>
                <td class="summary-table-cell-link"><a class="govuk-link" href="/api/user/change-details">Change<span class="visually-hidden"> mobile number</span></a></td>
            </tr>
            <tr>
                <td class="summary-table-cell-label">Feedback consent</td>
                <td class="summary-table-cell-content"><%= account.feedback_consent==null? 'Not set':account.feedback_consent ? 'Yes' : 'No'%></td>
                <td class="summary-table-cell-link"><a class="govuk-link" href="/api/user/change-details">Change<span class="visually-hidden"> feedback consent</span></a></td>
            </tr>
            <tr>
                <td class="summary-table-cell-label">Email</td>
                <td class="summary-table-cell-content"><%= user.email%></td>
                <td class="summary-table-cell-link"><a class="govuk-link" href="/api/user/change-email">Change <span class="visually-hidden"> email</span></a></td>
            </tr>
            <tr>
                <td class="summary-table-cell-label">Password</td>
                <td class="summary-table-cell-content">***********</td>
                <td class="summary-table-cell-link"> <a class="govuk-link" href="/api/user/change-password">Change<span class="visually-hidden"> password</span></a></td>
            </tr>

            </tbody>
        </table>


      <div class="help-content-div">
        <a href="#" class="help-content-link icon-toggle-right expandable">How to close your account <span class="visually-hidden noJs" > click to expand </span></a>
            <div class="panel panel-border-narrow help-content-body no-js-show">
                <p>If you want to close your account please contact us at <a class="govuk-link" href="mailto:legalisationenquiries@fco.gov.uk">legalisationenquiries@fco.gov.uk</a></p>
            </div>
      </div>
    </div>


</div>

<%if(user.premiumEnabled){%>
<h1 class="heading-xlarge" style="margin-bottom: 25px">Company details</h1>

<div class="column-two-thirds" style="margin-bottom: 50px">
    <div class="form-group">
        <% if (company_info.length > 0) { %>
        <div class="alert alert--success" role="alert"><p class="alert__message"><%= company_info %></p></div>
        <% } %>
        <table class="review-personal-details summary-table">
            <tbody>
            <tr>
                <td class="summary-table-cell-label">Company name</td>
                <td class="summary-table-cell-content"><%= account.company_name%></td>
                <td class="summary-table-cell-link"><a class="govuk-link" href="/api/user/change-company-details">Change <span class="visually-hidden"> company name</span></a></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
<%}else{%>
<div class="column-two-thirds">
   <p>If you represent a business you can <a class="govuk-link" href="/api/user/upgrade-account">register for the legalisation premium service</a></p>
</div>
<%}%>
<h1 class="heading-xlarge" style="margin-bottom: 25px">Saved payment details</h1>
<div class="column-two-thirds">
    <p>You can save your card details so that you don't have to type them in each time you apply.</p>
    <p>Follow these steps to save a card when you make an application:</p>
    <ul>
        <li>enter your card details</li>
        <li>ensure the 'Remember these details' box is ticked when you are asked to review and complete your payment - this will save the card</li>
        <li>next time you make an application, you'll see your saved card at the top of the payment page and can use it to pay</li>
        <li>you can delete saved cards or add additional cards each time you go to pay</li>
    </ul>
    <div class="panel panel-border-narrow" style="margin-top: 5px">
        For security reasons, any cards you save are only displayed on the Barclaycard Smartpay payment pages
    </div>

</div>


<% include ../partials/footer.ejs %>
