<% pageTitle = "Change company details - Get a document legalised – GOV.UK" %>

<%if(error_report && error_report.length>0){
    pageTitle = "Error: Change company details - Get a document legalised – GOV.UK"
} %>

<% include ../partials/header.ejs %>
<a href="/api/user/account" class="back_to_previous_button govuk-link">Back</a>

<h1 class="heading-xlarge">Change company details</h1>

<div class="column-two-thirds">
    <form action="/api/user/change-company-details" method="post" id="change-company-details">
        <div class="govuk-error-summary <% if (error_report) { %>show<% } else { %>hide<% } %>" role="group" aria-labelledby="error-summary-heading-example-2" tabindex="-1" autofocus>

            <h2 class="govuk-error-summary__title" id="error-summary-heading-example-2" autofocus>
                There is a problem
            </h2>

            <div id="all-errors">
                <% if (error_report) { console.log(error_report);%>
                <% error_report[0][0].errMsgs.forEach( function(errorMsgs) { %>
                <p><%= errorMsgs.fieldError %></p>
                <% }) %>
                <% } %>

                <ul class="govuk-list govuk-error-summary__list">
                    <% if (error_report) {  %>
                    <% error_report[0][0].errMsgs.forEach( function(errorMsgs) { %>
                    <li><a href="#<%= errorMsgs.questionId %>"><%= errorMsgs.fieldSolution %></a></li>
                    <% }) %>
                    <% } %>
                </ul>
            </div>
        </div>

        <div class="govuk-form-group <% if (error_report && error_report[1][0].erroneousFields.indexOf('company_name')>-1) { %>govuk-form-group--error<% } %>">

                <label id="legend_company_name" for="company-name" class="govuk-label">Company name</label>
                <% if (error_report) { %>
                <% error_report[0][0].errMsgs.forEach( function(error) { %>
                <% if (error.questionId=="company_name") { %>
                <span id="company-name-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error: </span>
                    <%= error.fieldSolution %>
                </span>
                <% } %>
                <% }) %>
                <% } %>
                <input class="govuk-input govuk-!-width-one-half <% if (error_report) { %>govuk-input--error<% } %>" <% if (error_report) { %>aria-describedby="company-name-error"<% } %> id="company_name" type="text" autocomplete="off" aria-required="true"  name="company_name" value="<% if(form_values){%><%=form_values.company_name%><%} %>">
        </div>
        <button class="govuk-button" type="submit">Save</button>
    </form>

</div>

<% include ../partials/footer.ejs %>
