<% pageTitle = "Upgrade to premium - Get a document legalised – GOV.UK" %>
<%if(error_report && error_report.length>0){
    pageTitle = "Error: Upgrade to premium - Get a document legalised – GOV.UK"
} %>

<% include ../partials/header.ejs %>
<a href="/api/user/account" class="back_to_previous_button govuk-link">Back</a>
<%if(error_report.length>0){%><br>
<%}%>

<div class="column-two-thirds">
    <form action="/api/user/upgrade-account" method="post" id="upgrade-account">
        <div class="govuk-error-summary <% if (error_report) { %>show<% } else { %>hide<% } %>" role="group" aria-labelledby="error-summary-heading-example-2" tabindex="-1" autofocus>

            <h2 class="govuk-error-summary__title" id="error-summary-heading-example-2">
                There is a problem
            </h2>

            <div id="all-errors" class="govuk-error-summary__body">
                <% if (error_report) { console.log(error_report);%>
                <% error_report[0][0].errMsgs.forEach( function(errorMsgs) { %>
                <p><%= errorMsgs.fieldError %></p>
                <% }) %>
                <% } %>

                <ul class="govuk-list govuk-error-summary__list">
                    <% if (error_report) {  %>
                    <% error_report[0][0].errMsgs.forEach( function(errorMsgs) { %>
                    <li><a href="#<%= errorMsgs.questionId %>"><%= errorMsgs.fieldSolution %></a></li>
                    <% }) %>
                    <% } %>
                </ul>
            </div>
        </div>

        <h1 class="heading-xlarge">Upgrade your account</h1>

        <div class="govuk-form-group <% if (error_report && error_report[1][0].erroneousFields.indexOf('company_name')>-1) { %>govuk-form-group--error<% } %>">

            <label for="company_name" class="govuk-label">Company name</label>
            <% if (error_report) { %>
            <% error_report[0][0].errMsgs.forEach( function(error) { %>
            <% if (error.questionId=="company_name") { %>
            <span id="company-name-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error: </span>
                <%= error.fieldSolution %>
            </span>
            <% } %>
            <% }) %>
            <% } %>
            <input class="govuk-input govuk-!-width-one-half <% if (error_report && error_report[1][0].erroneousFields.indexOf('company_name')>-1) { %>govuk-input--error<% } %>" <% if (error_report && error_report[1][0].erroneousFields.indexOf('company_name')>-1) { %>aria-describedby="company-name-error"<% } %> id="company_name" aria-required="true" type="text" autocomplete="off" name="company_name" value="<% if(form_values){%><%=form_values.company_name%><%} %>">
        </div>
        <button class="govuk-button" type="submit">Upgrade</button>
    </form>

</div>

<% include ../partials/footer.ejs %>
